.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.header-logo {
  height: 2rem;
  max-width: 140px;
  width: auto;
  margin-right: 24px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.header-location-search-container {
  height: 3.2rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--primary-box-shadow);
  border: 1px solid var(--border-white);
  width: 70%;
  background-color: var(--primary-bg);
}

.location-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 10px;
}

.location-icon-name {
  display: flex;
  color: var(--zomato-grey);
  align-items: center;
}
.location-icon {
  margin-right: 0.4rem;
}
.location-search-separator {
  height: 1.8rem;
  border: 0.5px solid var(--zomato-grey-dark);
}
